/*-----------------------GENERAL-----------------------*/

/* Scroll behavior */

html{
    scroll-behavior: smooth;
}

/* Global variables */

:root{

    --g-beige: #e8c39e;
    --g-dark-beige: #c8ad7f;
    --g-light-grey: #a9a8a7;
    --g-dark-grey: #615e5b;
    --g-green: #11b133;
    --g-var6: placeholder;

}

/* Local variables */

.selector1{

    --l-var1: placeholder;
    --l-var2: placeholder;
    --l-var3: placeholder;

}

.selector2{

    --l-var1: placeholder;
    --l-var2: placeholder;
    --l-var3: placeholder;

}

/* Constant styles */

*{
    font-family: "Average Sans", sans-serif;
}



a{
    color: #000;
    text-decoration: none;
}

ul{
    list-style: none;
}

.title{
    font-family: "Open Sans", sans-serif;
    font-weight: 800;
}

.beige{
    color: var(--g-beige);
}


.avoidoverflow{
    overflow: hidden; /*this two properties solve the problem with overflow*/
    position: relative;
}


/*-----------------------MOBILE-----------------------*/



/*FONT SIZE*/

p,label, a, li{
    font-size: 18px;
}

h1{
    font-size: 30px;
}

h2{
    font-size: 25px;
    font-weight: 700;
}

h3{
    font-size: 20px;
    font-weight: 500;
}



/*LOGO*/

.logo{

    align-items: center;
    display: flex;
    font-size: 7vw;
    text-align: center;

}

.logo > img{

    transform: translateY(-5px) translateX(8px);
    width: 16vw;

}



/*HEADER*/

.header{

    background-color: #fff;
    padding: 15px;

}

.header__nav{

    display: grid;
    grid-template-columns: 4fr 1fr;
    justify-content: center;

}

/*Header logo*/

.header__logo{
    grid-column: 1/2;
}

/*Header icons*/

.header__menuicon{

    align-items: center;
    display: flex;
    grid-column: 2/3;
    justify-content: center;
    position: relative;
    height: 100%;
    transform: rotateZ(0deg);
    transition: transform .5s;
    z-index: 10000;

}

.header__menuicon > i{

    font-size: 40px;
    position: absolute;

}

/*When clicking*/

.header__menuicon:hover{
    transform: rotateZ(90deg);
}

.header__menuicon:hover ~ .header__links{
    transform: translateX(0);
}

/*Header links*/

.header__links--desktop{
    display: none;
}

.header__links{

    align-items: center;
    background-color: var(--g-beige);
    display: flex;
    flex-direction: column;
    height: 75vh;
    left: 0;
    position: fixed;
    top: 0;
    transform: translateX(100vw);
    transition: transform .5s;
    width: 100vw;
    z-index: 700;

}

.header__link{

    border-bottom: 2px solid #000;
    font-size: 20px;
    margin: 20px 0;
    padding-bottom: 3px ;
    text-align: center;

}



/*HERO*/

.hero{

    align-items: center;
    background-image: linear-gradient(0deg, rgba(0,0,0,0.6), rgba(0,0,0,0.4)), url(../../media/pictures/0.index/hero/pexels-nastyasensei-331107.jpg);
    background-position: center;
    background-size: cover;
    color: #fff;
    display: flex;
    height: 50vh;
    justify-content: center;

}

.hero__title{

    text-align: center;

}



/*NOTED*/

.noted__header{

    padding: 50px 0;
    text-align: center;

}

.noted__container{

    align-items: center;
    display: grid;
    grid-gap: 20px;
    grid-template-rows: repeat(4, auto) 100px;
    grid-template-columns: 1fr;
    justify-items: center;

}

/*Products*/

.noted__product{

    border-radius: 1em;
    box-shadow: 0 0 15px rgba(0,0,0,0.3);
    height: 220px;
    overflow: hidden;
    transition: transform .2s, box-shadow .2s;
    width: 80%;

}

.noted__producthead{

    height: 100%;
    position: relative;

}

.noted__picture{

    filter: brightness(70%);
    height: 100%;
    object-fit: cover;
    width: 100%;

}

.noted__subtitle{

    color: #fff;
    left: 50%;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);

}

.noted__paragraph{

    display: none;

}

/*Button*/

.noted__button{

    background-color: var(--g-beige);
    border-radius: .7em;
    box-shadow: 0 0 7px rgba(0,0,0,0.3);
    color: #fff;
    transition: transform .2s, filter .2s, box-shadow .2s;

}

.noted__linkprice{

    display: inline-block;
    color: #fff;
    padding: 15px;

}

/*When hover (for desktop)*/

.noted__product:hover{

    box-shadow: 0 0 20px rgba(0,0,0,0.7);
    transform: scale(1.02);

}

.noted__button:hover{

    box-shadow: 0 0 12px rgba(0,0,0,0.5);
    filter: brightness(1.05);
    transform: scale(1.08);

}



/*WHO*/

.who{

    align-content: center;
    align-items: center;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 3fr 2.3fr;
    grid-template-rows: repeat(2, auto);
    margin: 0 5% 20px 5%;

}

.who__header{

    grid-column: 1/3;
    padding: 15px 0;

}

.who__picture{

    border-radius: 3.5em;
    display: none;
    grid-column: 1/2;
    grid-row: 2/3;
    height: 500px;
    object-fit: cover;
    width: 800px;

}

.who__paragraph{

    grid-column: 1/3;
    grid-row: 2/3;

}



/*COMPETITION*/

.competition{

    align-content: center;
    align-items: center;
    display: grid;
    grid-gap: 30px;
    grid-template-columns: 2.3fr 3fr;
    grid-template-rows: repeat(2, auto);
    margin: 0 5% 20px 5%;

}

.competition__header{

    grid-column: 1/3;
    padding: 15px 0;

}

.competition__picture{

    border-radius: 3.5em;
    display: none;
    grid-column: 2/3;
    grid-row: 2/3;
    height: 500px;
    object-fit: cover;
    width: 800px;

}

.competition__advantages{
    
    grid-column: 1/3;
    grid-row: 2/3;

}

/*Advantage*/

.competition__advantage{
    align-items: center;
    display: flex;
    padding: .35em 0;
}

.competition__advantage > i{

    background-color: var(--g-green);
    border-radius: 50%;
    color: #fff;
    padding: .2em;
    margin-right: 7px;

}



/*FINDUS*/

.findus{

    margin: 0 5% 0 5%;

}

.findus__header{

    padding: 15px 0;

}

.findus > iframe{

    height: 40vh;
    width: 100%;

}



/*FOOTER*/

.footer{

    align-items: center;
    background-color: var(--g-light-grey);
    display: grid;
    grid-gap: 15px;
    grid-template-rows: repeat(3, auto);
    justify-items: center;
    padding: 35px 0;

}

/*Contact*/

.footer__contacttitle{

    text-align: center;

}

.footer__contact > p{

    margin-top: 12px;
    text-align: center;

}

.footer__contact > p > a{

    border-bottom: 2px solid #fff;
    color: #fff;
    display: inline-block;
    margin: 5px 0;

}

/*Work*/

.footer__work{

    text-align: center;

}

.footer__work > a{

    border-bottom: 2px solid #fff;
    color: #fff;
    display: inline-block;
    margin-top: 12px;

}





/*-----------------------TABLET-----------------------*/

@media screen and (min-width: 550px) {



/*FONT SIZE*/

p,label, a, li{
    font-size: 22px;
}

h1{
    font-size: 40px;
}

h2{
    font-size: 32px;
    font-weight: 700;
}

h3{
    font-size: 28px;
    font-weight: 500;
}



/*LOGO*/

.logo{

    align-items: center;
    display: flex;
    font-size: 4.3vw;
    text-align: center;

}

.logo > img{

    transform: translateY(-5px) translateX(8px);
    width: 10vw;

}



/*HEADER*/

/*Header icon*/

.header__menuicon > i{
    font-size: 60px;
}



/*NOTED*/

/*Product*/

.noted__product{
    height: 410px;
}



}





/*-----------------------DESKTOP-----------------------*/

@media screen and (min-width: 1100px) {



/*FONT SIZE*/

p,label, a, li{
    font-size: 20px;
}

h1{
    font-size: 50px;
}

h2{
    font-size: 30px;
    font-weight: 700;
}

h3{
    font-size: 26px;
    font-weight: 500;
}



/*LOGO*/

.logo{

    align-items: center;
    display: flex;
    font-size: 2.0vw;
    text-align: center;

}

.logo > img{

    transform: translateY(-5px) translateX(8px);
    width: 5.5vw;

}



/*WIDTH*/

section{
    width: 70vw;
}

.avoidoverflow{
    align-items: center;
    display: flex;
    flex-direction: column;
}

.header, .hero, .footer{ /*Notice for other pages*/
    width: 100vw;
}



/*HEADER*/

.header__nav{

    align-items: center;
    grid-template-columns: 1.5fr 2fr;

}

/*Links*/

.header__links--desktop{

    display: flex;
    justify-content: space-evenly;

}

.header__link--desktop > a{

    display: inline-block;
    font-size: 18px;
    font-weight: 700;
    transition: transform .05s, color .05s;

}

.header__link--desktop > a:hover{

    color: #666;
    transform: scale(1.1);

}

/*Hiding*/

.header__menuicon{
    display: none;
}

.header__links{
    display: none;
}



/*MAIN*/

main{
    align-items: center;
    display: flex;
    flex-direction: column;
}



/*HERO*/

.hero{

    height: 73vh;

}



/*NOTED*/

.noted{
    width: 60vw;
}

.noted__container{

    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto) 100px;

}

/*Products*/

.noted__product{
    height: 370px;
}

.noted__producthead{
    height: 70%;
}

.noted__picture{
    height: 80%;
}

.noted__subtitle{

    align-items: center;
    display: flex;
    justify-content: center;
    color: #000;
    font-weight: 600;
    height: 20%;
    position: static;
    transform: translateY(-4px);

}

.noted__paragraph{

    color: #333;
    display: block;
    font-size: 14px;
    padding: 0 15px;
    text-overflow: ellipsis;
    overflow: hidden;

}

/*Product alignment*/

.noted__product:first-child, .noted__product:nth-child(3){
    justify-self: end;
}

.noted__product:last-of-type, .noted__product:nth-child(2){
    justify-self: start;
}

/*Button*/

.noted__button{
    grid-column: 1/3;
}

.noted__linkprice{

    font-size: 22px;
    padding: 20px;

}



/*WHO*/

.who__picture{
    display: block;
}

.who__paragraph{
    grid-column: 2/3;
}



/*COMPETITION*/

.competition__picture{
    display: block;
}

.competition__advantages{
    grid-column: 1/2;
}



/*FINDUS*/

.findus > iframe{

    height: 75vh;

}



/*FOOTER*/

.footer{

    align-content: center;
    align-items: start;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    height: 40vh;

}



}

/*-----------------------ANIMATIONS-----------------------*/

@keyframes animation1 {

}

@keyframes animation2 {

}

@keyframes animation3 {

}